<p id="notice"><%= notice %></p>

<h1 style="text-align:center;">案號清單</h1>
<div style="margin-bottom:3px;">
  <h3>篩選條件</h3>
  <table>
    <tr>
      <%= form_tag yfcases_path, :method => :get do %>
      <td style="padding:0px 5px;width:17%">案號：<%= text_field_tag "keyword", nil , placeholder: "輸入關鍵字",class: "form-control" %></td>
      <td style="padding:0px 5px;width:17%">最終判定：<%= select_tag "keyword2", raw("<option>3拍進場</option><option>4拍進場</option><option>放棄</option>"), {:include_blank => true, class: 'form-control'} %></td>
      <td style="padding:0px 5px;width:17%">縣市：<%= select_tag "city", options_from_collection_for_select(Country.order(:name), "id", "name"), {:include_blank => true, class: 'form-control'}  %></td>
      <td style="padding:0px 5px;width:17%">人員：<%= select_tag "person", options_from_collection_for_select(User.order(:full_name), "id", "full_name") , {:include_blank => true, class: 'form-control'} %></td>
      <td style="padding:0px 5px;;width:15%"><%= submit_tag "搜尋", class: "btn btn-primary col align-self-end" %></td>
      <% end %>
    </tr>
  </table>
</div>

<table class="content-table">
  <thead>
    <tr>
      <th>操作</th>
      <th>案號
        <%= link_to yfcases_path( :sqrtcasename => "up") do %>
          <%=  fa_stacked_icon "arrow-down inverse", base: "circle",class: "pull-right" %>
        <% end %>
        <%= link_to yfcases_path( :sqrtcasename => "down") do %>
          <%=  fa_stacked_icon "arrow-up inverse", base: "circle",class: "pull-right" %>
        <% end %>
      </th>
      <th>地址</th>
      <th>負責人</th>
      <th colspan="2">最終判定</th>
      <th>執行結果</th>
      <th colspan="2">優購結果</th>
      <th>標的編號</th>
    </tr>
  </thead>
    <tbody>
        <% @yfcases.each do |yfcase| %>
        <tr>
          <td>
            <%= link_to yfcase, method: :delete, data: { confirm: '你(妳)確定要刪除嗎?' } do %>
              <%= fa_icon "trash",class: "fa-2x" %>
            <% end %>
          </td>
           
          <td data-label="案號" style="text-align:left;">
            <%= link_to yfcase_path(yfcase) do %>
              <%= yfcase.case_number %>
            <% end %>
          </td>
          <td data-label="地址" style="	text-align: left;">
            <%= yfcase.township.try(:zip_code) %> <%= yfcase.country.try(:name) %><%= yfcase.township.try(:name) %><%= yfcase.other_address %>
            
            <div class="col align-self-end"></div>
          </td>

            <td data-label="區域負責人">
                <%= yfcase.user.first_name + yfcase.user.last_name %>
            </td>
            <td data-label="最終判定">
                <%= yfcase.final_decision.blank? ? '未判定' : yfcase.final_decision %>
            </td>
            <td>
              <%= link_to yfratingscale_yfcase_path(yfcase,format: "pdf") do %>
                <div class="y10000">評</div>
              <% end %>
            </td>
            <td data-label="執行結果">
                <%= yfcase.active_result %>
            </td>
            <td data-label="優購結果">
                <%= yfcase.priority_purchase_result %>
            </td>
            <td>
              <table>
                <% if yfcase.priority_purchase_result.present? && yfcase.priority_purchase_result == "無人優購" %>
                <tr>
                  <td>
                    <%= link_to deedtax_yfcase_path(yfcase,format: "pdf") do %>
                      <div class="y20000">契</div>
                    <% end %>
                  </td>
                  <td>
                    <%= link_to realestateregistration_yfcase_path(yfcase,format: "pdf") do %>
                      <div class="y30000">動</div>
                    <% end %>
                    </td>
                  <td>
                    <%= link_to complaint_yfcase_path(yfcase,format: "pdf") do %>
                      <div class="y40000">狀</div>
                    <% end %>
                  </td>
                  <td>
                    <%= link_to letter_yfcase_path(yfcase,format: "pdf") do %>
                      <div class="y50000">函</div>       
                    <% end %>
                  </td>
                </tr>
                <% end %>
              </table>
              
            </td>
            
            <td data-label="標的編號">
                <%= yfcase.target_number %>
            </td>
              
        </tr>
        <% end %>
    </tbody>
</table>