<!DOCTYPE html>
<html lang="en">

<head>
    <!--    <meta charset="UTF-8"> -->
    <title>YF評量表</title>
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <%= wicked_pdf_stylesheet_link_tag 'pdf' %>
    <style type="text/css">
    body {
      /*楷體*/
      font-family: 'Noto Sans TC', sans-serif;
      font-size: 12pt;
      padding: 0px;
    }
    .yfratingscalePDFTitle {
      font-size: 26pt;
      font-weight: bolder;
      text-align: center;
    }
    .yfratingscalePDFBaseData, .yfratingscalePDFLand , .yfratingscalePDFBuild, .yfratingscalePDFAction, .yfratingscalePDFAttachment, .yfratingscalePDFBuildCheckList, .yfratingscalePDFFinaldecision, .yfratingscalePDFObjectBuild {
      border-collapse:collapse;
      border:3px solid black;
      margin-bottom:5px;
      width:100%;
    }
    .yfratingscalePDFBaseData th {
      background-color: AntiqueWhite;
      border: 1px solid black;
      text-align:center;
      padding:0px;
    }
    .yfratingscalePDFBaseData td {
      padding:0px 5px;
      text-align:left;
      border: 1px solid black;
      font-size: 12pt;
    }
    
    .yfratingscalePDFLand th {
      background-color: Aquamarine;
      border: 1px solid black;
      text-align:center;
      padding:0px;
    }
    .yfratingscalePDFBuild th {
      background-color: DeepSkyBlue;
      border: 1px solid black;
      text-align: center;
      padding:0px;
    }
    .yfratingscalePDFAction th {
      background-color: Gainsboro;
      border: 1px solid black;
      text-align: center;
      padding: 0px;
    }
    .yfratingscalePDFAttachment th {
      background-color: Khaki;
      border: 1px solid black;
      text-align: center;
      padding:0px;
    }
    .yfratingscalePDFBuildCheckList th {
      background-color: LightSteelBlue;
      border: 1px solid black;
      text-align: center;
      padding: 0px;
    }
    .yfratingscalePDFObjectBuild th{
      background-color: Thistle;
      border: 1px solid black;
      text-align: center;
      font-size: 10pt;
      padding: 0px;
    }
    .yfratingscalePDFFinaldecision th {
      background-color: YellowGreen;
      border: 1px solid black;
      text-align: center;
      padding: 0px;
    }
    .yfratingscalePDFLand td, .yfratingscalePDFBuild td, .yfratingscalePDFBuildCheckList td {
      padding:0px 5px;
      text-align:center;
      border: 1px solid black;
      font-size: 12pt;
    }
    .yfratingscalePDFAction td {
      padding:0px 5px;
      text-align:center;
      border: 1px solid black;
      font-size: 12pt;
    }
    .yfratingscalePDFObjectBuild td {
      padding:0px 5px;
      text-align:center;
      border: 1px solid black;
      font-size: 10pt;
    }
    .yfratingscalePDFFinaldecision td {
      padding:0px 5px;
      text-align:center;
      border: 1px solid black;
      font-size: 10pt;
      height:35px;
    }
    td.landEmpty {
      border-top:hidden;
      border-bottom:hidden;
      border-left:3px solid black;
      border-right:3px solid black;
    }
    .yfratingscalePDFBuildCheckList .yfratingscalePDFBuildCheckListItem {
      background-color:LightCyan;
      padding: 2px 5px;
      text-align:left;
      font-size:12pt;
    }
    
    .yfratingscalePDFFinaldecision .yfratingscalePDFPerson {
      padding:14px 20px;
    }
    .yfratingscalePDFPersonCircle {
      border:5px solid red;
      border-radius:10px;
    }
    .yfratingscalePDFPersonTable {
      border-collapse:collapse;
      width:100%;
    }
    .yfratingscalePDFPersonTable .yfratingscalePDFPersonName {
      text-align:center;
      border:none;
      vertical-align: middle;
      font-size:20pt;
      color:red;
    }
    .yfratingscalePDFPersonTable .yfratingscalePDFPersonDate {
      border:none;
      text-align:center;
      font-weight: bolder ;
      vertical-align: middle;
      color:red;
      font-size:14pt;
    }
    .yfratingscalePDFAttachmentContent {
      padding:0px 5px;
      border: 1px solid black;
      font-size: 12pt;
      text-align:left;
    }
    .yfratingscalePDFFinaldecisionJudgment {
      text-align: center;
      font-size: 36px;
      border:5px solid black;
      border-radius: 10px;
      padding:30px;
    }
    </style>
</head>

<body>
  
  <div style="padding:0px 50px;">
    <div class="yfratingscalePDFTitle row">
      <table class="col">
        <tr>
          <td style="width:80%;border:none;"><%= @yfcase.case_number %> YF評量表</td>
          <td style="border:none;">
             <% if (@yfcase.editable_by?(current_user) && @yfcase.subsigntrueas.blank?) || (@yfcase.final_decision != "放棄" && @yfcase.editable_by?(current_user) ) %>
                <div id="showitem">
              	  <%= link_to '編輯', edit_yfcase_path(@yfcase),class: "btn btn-primary" %> |
                  <%= link_to '返回', yfcases_path,class: "btn btn-info" %> 
                </div>
              <% else %>
                <div id="showitem">
                  <%= link_to '返回', yfcases_path,class: "btn btn-info" %>
                </div>
              <% end %>
          </td>
        </tr>
      </table>
    </div>
  
    <!--基本資料-->
    <div class="row">
      <table class="yfratingscalePDFBaseData">
        <%= render "yfcases/partials/baseData" %>
      </table>
    </div>
    
    <!-- 土地 -->
    <div class="row">
      <table class="yfratingscalePDFLand col">
        <%= render "yfcases/partials/land" %>
      </table>
    </div>
    
    <!-- 建物 -->
    <div class="row">
      <table class="yfratingscalePDFBuild col">
        <%= render "yfcases/partials/build" %>
      </table>
    </div>
    
    <!-- 拍賣結果 -->
    <div class="row">
      <table class="yfratingscalePDFAction col">
        <%= render "yfcases/partials/auction" %>
      </table>
    </div>
    
    <!-- 勘查結果 -->
    <div class="row">
      <table class="yfratingscalePDFAttachment col">
        <%= render "yfcases/partials/attachment" %>
      </table>
    </div>
    
    <!-- 建物查檢表 -->
    <div class="row">
      <table class="yfratingscalePDFBuildCheckList col">
        <%= render "yfcases/partials/buildCheckList" %> 
      </table>
    </div>
    
    <!-- 最終判定 -->
    <div class="row" >
      <table class="yfratingscalePDFFinaldecision col">
        <%= render "yfcases/partials/finalDecision" %> 
      </table>
    </div>
  
    <% if (@yfcase.editable_by?(current_user) && @yfcase.subsigntrueas.blank?) || (@yfcase.final_decision != "放棄" && @yfcase.editable_by?(current_user) ) %>
      <div id="showitem">
    	  <%= link_to '編輯', edit_yfcase_path(@yfcase),class: "btn btn-primary" %> |
        <%= link_to '返回', yfcases_path,class: "btn btn-info" %> | 
      </div>
    <% else %>
      <div id="showitem">
        <%= link_to '返回', yfcases_path,class: "btn btn-info" %>
      </div>
    <% end %>
      
  </div>

</body>

</html>
