<tr>
  <th style="width:20%;">地號</th>
  <th style="width:7%;">地號<br>謄本</th>
  <th style="width:15%;">地坪(面積)<br>平方公尺(坪)</th>
  <th style="width:9%;">持分</th>
  <th style="width:15%;">地坪(持分)<br>平方公尺(坪)</th>
  <td class="landEmpty" style="width:2%;"></td>
  <th style="width:15%;">地坪(面積)<br>平方公尺(坪)</th>
  <td class="landEmpty" style="width:2%;"></td>
  <th style="background-color:DeepSkyBlue;">建坪(面積)<br>平方公尺(坪)</th>
  </tr>
  <tr>
  <td style="text-align:left;">
    <% @yfcase.lands.each do |land| %>
      <%= @yfcase.big_section %><%= land.land_number %><br>
    <% end %>
  </td>
  <td>
    <% @yfcase.lands.each do |land| %>
      <%= land.land_url == "" ? ' ' : (link_to "連結", land.land_url, target: "_blank") %><br>
    <% end %>
  </td>
  <td>
    <% @yfcase.lands.each do |land| %>
      <%= area(land.land_area,1,1,1).round(2) %>(
      <%= area(land.land_area,1,1,0.3025).round(2) %>)<br>
    <% end %>
  </td>
  <td>
    <% @yfcase.lands.each do |land| %>
      <%= land.land_holding_point_personal %>/
      <%= land.land_holding_point_all %><br>
    <% end %>
  </td>
  <td>
    <% @yfcase.lands.each do |land| %>
      <%= area(land.land_area,land.land_holding_point_personal,land.land_holding_point_all,1).round(2) %>(
      <%= area(land.land_area,land.land_holding_point_personal,land.land_holding_point_all,0.3025).round(2) %>)<br>
    <% end %>
  </td>
  <td class="landEmpty"></td>
  <td>
    <%= @yfcase.lands.count == 0 ? ' ' : (number_to_currency(@landtotalarea, unit: "", precision: 2)+"("+number_to_currency(@landtotalarea * 0.3025, unit: "", precision: 2)+")") %><br>
  </td>
  <td class="landEmpty"></td>
  <td>
    <% if @yfcase.builds.count == 0 %>
      <%= "" %> 
    <% elsif @yfcase.builds.where(build_type_use: "0公設").count > 0 %>
      <%= number_to_currency(@withBuildTotalArea+@withoutBuildTotalArea, unit: "", precision: 2)+"("+number_to_currency((@withBuildTotalArea+@withoutBuildTotalArea) * 0.3025, unit: "", precision: 2)+")" %><br>
    <% else %>
      <%= number_to_currency(@withoutBuildTotalArea, unit: "", precision: 2)+"("+number_to_currency(@withoutBuildTotalArea * 0.3025, unit: "", precision: 2)+")" %><br>
    <% end %>
  </td>
</tr>